name: Deploy to S3
on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    steps:
        - uses: actions/checkout@v2
        - name: s3deploy
          uses: mirrorweb/s3-sync-action@master
          with:
            args: --acl public-read --follow-symlinks --delete --exclude '.git*/*'
          env:
            SOURCE_DIR: './'
            AWS_S3_BUCKET: ${{ secrets.S3_BUCKET }}
            AWS_REGION: ${{ secrets.S3_BUCKET_REGION }}
            
            
        - name: CFinvalidate
          uses: chetan/invalidate-cloudfront-action@v2
          env:
            DISTRIBUTION: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }}
            PATHS: '/'
            AWS_REGION: 'us-west-2'
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  notify:
    needs: deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Slack Notification
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        SLACK_USERNAME: Schema Deployment
        SLACK_ICON: https://assets.verida.io/s3.png
        SLACK_TITLE: Deployment of ${{ github.event.repository.name }} schemas complete
        SLACK_FOOTER: Generated on merge to ${{ github.event.repository.name }}
